<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880138699529-qgm0ii7lpk06tl3hq40lpljkrtq619vh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880138699529-qgm0ii7lpk06tl3hq40lpljkrtq619vh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>880138699529-let5c55aavfhkch0nlgddoe8115o1juc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDeB-dvxw6ZEfHAf1RaGLHsXqNc5LTPRGo</string>
	<key>GCM_SENDER_ID</key>
	<string>880138699529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaveg.wticabs</string>
	<key>PROJECT_ID</key>
	<string>wticabs-a98bb</string>
	<key>STORAGE_BUCKET</key>
	<string>wticabs-a98bb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880138699529:ios:0fa48ed597aef650acc9d8</string>
</dict>
</plist>